@page "/index"
@model Blazorify.Server.Pages.Shared.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Blazorify</title>
    <base href="/" />
    <link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" async />
    <link href="css/app.css" rel="stylesheet" />
</head>

<body>
    <app>Loading from server rendered page...</app>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.webassembly.js" asp-append-version="true"></script>
    <script src="~/libs/jquery/jquery.slim.js" asp-append-version="true"></script>
    <script src="~/libs/popper.js/umd/popper.js" asp-append-version="true"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/app.js" asp-append-version="true"></script>
</body>

</html>
