@model System.Collections.Generic.List<System.Collections.Generic.KeyValuePair<string, string>>
@{
    ViewData["Title"] = "Data";
}
@section Scripts {
    <script asp-src-include="~/DatatablesNet/index-*.js"></script>
}
<table id="datatable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
</table>