<CssTransition In="Open"
               EnterTimeout="1000"
               OnEnter="OnEnter"
               OnEntering="OnEntering"
               OnEntered="OnEntered"
               ExitTimeout="1000"
               OnExit="OnExit"
               OnExiting="OnExiting"
               OnExited="OnExited"
               EnteredCss="collapse show"
               EnteringCss="collapsing"
               ExitedCss="collapse"
               ExitingCss="collapsing"
               OnReflow="evt => evt.Reflow(_reference)">
    @{
        var css = context.Css;
    }
    <div @ref="_reference" @attributes="Attributes" class="@css" style="@_style">
        @ChildContent
    </div>
</CssTransition>
