<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <div class="grid" [style.grid-template-columns]="gtcStyle" (mouseleave)="endDraw($event)">
        <ng-template ngFor let-rows [ngForOf]="cells">
          <ng-template ngFor let-cell [ngForOf]="rows">
            <div class="cell" [ngClass]="cell.css()" (mousedown)="startDraw($event, cell)"
              (mousemove)="drawing($event, cell)" (mouseup)="endDraw($event)">
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <div class="col">
      <form [formGroup]="options">
        <div class="form-group">
          <label for="cols">Columns</label>
          <input type="number" class="form-control" id="cols" formControlName="columnCount">
        </div>
        <div class="form-group">
          <label for="rows">Rows</label>
          <input type="number" class="form-control" id="rows" formControlName="rowCount">
        </div>
        <button class="btn btn-primary" (click)="reset()">Reset</button>
      </form>
      <ul class="list-group">
        <li *ngFor="let item of miners" class="list-group-item" [ngClass]="{ placed: item.placed }"
          (click)="item.place(!item.placed)">
          {{item.toString()}}
        </li>
      </ul>
    </div>
  </div>

</div>
