.grid {
  display: grid;
  grid-auto-flow: row;
  .cell {
    height: 20px;
    border: 1px solid gray;

    &.mine {
      background-color: indianred;
    }

    &.mined {
        background-color: lightcoral;
      }

    &.neighbour {
      background-color: lightgray;
    }

    &.miner {
      background-color: lightgreen;
    }

    &.blocked {
        background-color: black;
      }
  }
}
