@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-typeahead/css/Typeahead.scss";

.main {
    text-align: center;
}
.alert-placeholder {
    height: 50px;
    margin: 5px 0px;
}
.pic-placeholder {
    height: 200px;
    img {
        max-height: 200px;
        max-width: 100%;
    }
}
.input-placeholder {
    display: flex;
    flex-flow: column;
    margin: 5px 0px;
    form {
        align-self: center;
    }
}

.continent-color- {
    &north-america {
        background-color: red;
    }

    &south-america {
        background-color: green;
    }

    &africa {
        background-color: purple;
    }

    &europe {
        background-color: royalblue;
    }

    &asia {
        background-color: cornflowerblue;
    }

    &oceania {
        background-color: orange;
    }
}
