@model System.Collections.Generic.List<System.Collections.Generic.KeyValuePair<string, string>>
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script asp-src-include="~/Home/index-*.js"></script>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <span class="fa fa-edit fa-10x"></span>
    @if (Model != null)
    {
        <dl>
            @foreach (var item in Model)
            {
                <dt>@item.Key</dt>
                <dd>
                    @item.Value
                </dd>
            }
        </dl>
    }
    <vc:random-number max="Int32.MaxValue"></vc:random-number>
</div>
